<config>
    <modules>
        <Exercise_CustomSales>
            <version>1.8.0.2</version>
        </Exercise_CustomSales>
    </modules>
    <admin>
        <routers>
            <exercise_customsales>
                <use>admin</use>
                  <args>
                    <module>Exercise_CustomSales</module>
                    <frontName>exercise_customsales</frontName>
                </args>
            </exercise_customsales>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <customsales>
                    <file>exercise_customsales.xml</file>
                </customsales>
            </updates>
        </layout>
        <helpers>
            <Exercise_CustomSales>
                    <class>Exercise_CustomSales_Helper</class>
            </Exercise_CustomSales>
        </helpers>
    </adminhtml>
    <global>
        <blocks>
            <customsales>
                <class>Exercise_CustomSales_Block</class>
            </customsales>
            <adminhtml>
                <rewrite>
                    <sales_order_view_info>Exercise_CustomSales_Block_Sales_Order_View_Info</sales_order_view_info>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
</config>